*,
*::before,
*::after{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root{
    --promary: #3b7ddd;
    --titles:  #939ba2;

  
}


ul
{
    list-style: none;
}
a{
    text-decoration: none;
}
.col-1{width: 8.33%; padding-left: 12px;padding-right: 12px;}
.col-2{width: 16.66%; padding-left: 12px;padding-right: 12px;}
.col-3{width: 25%; padding-left: 12px;padding-right: 12px;}
.col-4{width: 33.33%; padding-left: 12px;padding-right: 12px;}
.col-5{width: 41.66%; padding-left: 12px;padding-right: 12px;}
.col-6{width: 50%;padding-right: 12px;}
.col-7{width: 58.33%; padding-left: 12px;padding-right: 12px;}
.col-8{width: 66.66%; padding-left: 12px;padding-right: 12px;}
.col-9{width: 75%; padding-left: 12px;padding-right: 12px;}
.col-10{width: 83.33%; padding-left: 12px;padding-right: 12px;}
.col-11{width: 91.66%; padding-left: 12px;padding-right: 12px;}
.col-12{width: 100%; padding-left: 12px;padding-right: 12px;}

.row{
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

.img-fluid{
    max-width: 100%;
    display: inline-block;
}
.justify-between{
    justify-content: space-between;
}
.align-items-center{
    align-items: center;
}
.d-flex{
    display: flex;
}
.relative{
    position: relative;
}
.d-block{
    display: block;
 }
 .d-none{
     display: none;
 }

 body{
    font-family: 'Signika';

 }

 
/* HEADER */


header{
    position: fixed;
    top: 0;
    right: 0;
    padding: 15px;
    background-color: #fff;
    width: 85%;
    display: flex;
    justify-content: space-between;
    box-shadow: rgba(33, 37, 41, 0.1) 0px 0px 32px 0px;
}


header ul{
    display: flex;
    justify-content: space-between;
    align-items: center;

}
header ul:first-child li{
    margin-right: 15px;
}
header ul:last-child li{
    margin-right: 20px;
}
header ul:last-child li:last-child{
    margin-right: 0px;
}
header:last-child li a i{
     color: var(--titles);
}

.serch-bar-header{
    border-radius: 30px 0 0 30px;
    border: none;
    background-color: #f3f6fa;
    padding: 10px 15px;
}
.menu-icon a i{
    font-size: 30px;
    color: #242e3d;
}
.serch-icon{
    background-color: #f3f6fa;
    border-radius: 0 30px 30px 0;
    padding: 10px 15px;
    color: var(--titles);
}
.mega-menu{
    display: flex;
    align-items: center;
    font-family: 'Signika';
    color: var(--titles);
}
.mega-menu a{
    margin-right: 8px;
    font-family: 'Signika';
    color: rgb(171 176 183);
}


.ul-{
   color: var(--titles);
}
.us-flag{
    border-radius: 50%;
}
.profile-img{
    border-radius: 5px;
}





main{  
     background-color: #F5F7FB;
     width: 85%;
     padding: 120px 50px 50px 50px;
     margin-left: auto;
}
.analytics .col-6{
    margin-left: 0px;
}
.analytics-title{
    margin-bottom: 20px;
}
.analytics-title ul li h3{
    font-weight: 400;
    line-height: 25.2px;
    font-size: 21px;
}
.analytics-title ul li:last-child a:first-child{
    padding: 8px 15px;
    color: rgb(52, 58, 64);
    background-color: #fff;
    border-radius: 5px;
    margin-right: 10px;
}
.analytics-title ul li:last-child a:last-child{
    padding: 8px 13px;
    color: #fff;
    background-color: var(--promary);
    border-radius: 5px;
}

.analytics-cards{
    background-color: #fff;
    padding: 20px;
    box-shadow: 0 0 .875rem 0 rgba(33, 37, 41, .05);
    margin-bottom: 24px;
}
.analytics-cards .row{
    padding: 0 !important;
}
.analytics-icon{
    padding: 10px 12px;
    background-color: #d3e2f7;
    border-radius: 50%;
    font-size: 18px;
    color: var(--promary);
}

.analytics-cards ul li:first-child h6{
    color: #939ba2;
    font-size: .925rem;
    font-weight: 600;
}
.analytics-cards h3{
    color: #000;
    font-size: 28px;
    font-weight: 400;
    line-height: 1.2;
    margin: 4px 0 16px 0;
}
.analytics-cards p{
    color: #5d666e;
    font-size: 15px;
    /* opacity: 0.5; */
}
.analytics-cards p span{
    color: #3b7ddd;
    background-color: #3b7ddd26;
    padding: 3px 5px;
    font-size: 12px;
    border-radius: 5px;
    margin-right: 5px;
}
.col-6:nth-child(2) .analytics-cards p span{
    color: #1cbb8c;
    background-color: rgba(28, 187, 140, .15);
}
.col-6:nth-child(3) .analytics-cards p span{
    color: #1cbb8c;
    background-color: rgba(28, 187, 140, .15);
}
.col-6:last-child .analytics-cards p span{
    color: #dc3545;
    background-color: rgba(220, 53, 69, .15);

}
.analytics-item{
    background-color: #fff;
    margin-left: 10px;
    padding: 15px;  
}
#chart-1{
    height: 230px;
    background-color: white;
}
.chartjs-render-monitor {
    animation: chartjs-render-animation 0.001s;
}
.graph{
    padding: 10px;
    background-color: #fff;
}
.graph .graph-header .graph-heade-1 h5{
    font-family: 'Dosis';
    color: #525659;
    font-size: 15px;
    opacity: 0.5;
    border: none;
}
.graph .graph-header .graph-heade-2 select ,.graph .graph-header .graph-heade-2 input{
    font-family: 'Dosis';
    color: #222e3c;
    border: none;
    margin-bottom: 10px;
    background-color:#f5f7fb;
    margin-right: 10px;
    padding: 5px;
    border-radius: 3px;
}

  
  .calendar-container {
    height: 500px;
    width: auto;
    background-color: white;
    border-radius: 10px;
    box-shadow: 0px 0px 20px rgba(255, 255, 255, 0.4);
    padding: 10px;
  }
  
  .calendar-week {
    display: flex;
    list-style: none;
    align-items: center;
    padding-inline-start: 0px;
  }
  
  .calendar-week-day {
    width: 100%;
    text-align: center;
    color: #525659;
  }
  
  .calendar-days {
    margin-top: 30px;
    list-style: none;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr ;
    padding-inline-start: 0px;
  }
  
  .calendar-day {
    text-align: center;
    color: #525659;
    padding: 20px;
  }
  
  .calendar-month-arrow-container {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
  
  .calendar-month-year-container {
    padding: 10px 10px 20px 10px;
    color: #525659;
    cursor: pointer;
  }
  
  .calendar-arrow-container {
    margin-top: -5px;
  }
  
  .calendar-left-arrow,
  .calendar-right-arrow {
    height: 30px;
    width: 30px;
    border: none;
    border-radius: 50%;
    cursor: pointer;
    color: #525659;
  }
  
  .calendar-today-button {
    margin-top: -10px;
    border-radius: 10px;
    border: none;
    border-radius: 10px;
    cursor: pointer;
    color: #525659;
    padding: 5px 10px;
  }
  
  .calendar-today-button {
    height: 20px;
    margin-right: 10px;
    background-color: var(--promary);
    color: white;
  }
  
  .calendar-months,
  .calendar-years {
    flex: 1;
    border-radius: 10px;
    height: 30px;
    border: none;
    cursor: pointer;
    outline: none;
    color: #525659;
    font-size: 15px;
  }
  
  .calendar-day-active {
    background-color: var(--promary);
    color: white;
    border-radius: 10px;
  }
  
  .map-heade ul li:first-child p{
    font-family: 'Dosis';
    color: #222e3c;
    font-weight: 500;
    opacity: 0.5;
  }
  .map-container {
    padding: 2rem .8rem;
    position: relative;
    display: inline-block;
    height: 450px;
    background-color: #fff;     
    .point {
      cursor: pointer;
      position: absolute;
      width: 1rem;
      height: 1rem;
      background-color:  var(--promary);
      border-radius: 50%;
      transition: all .3s ease;
      will-change: transform, box-shadow;
      transform: translate(-50%, -50%);
      box-shadow: 0 0 0 rgba(--promary, 0.4);
      animation: pulse 3s infinite;
    }
      .point:hover {
        animation: none;
        transform:  translate(-50%, -50%) scale3D(1.35, 1.35 ,1);
        box-shadow: 0 3px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23);
      }
    .venezuela { top: 54%; left: 24%; }
    .brasil { top: 64%; left: 28%; }
    .argentina { top: 77%; left: 27%; }
    .colombia { top: 55%; left: 21%; }
    .panama { top: 51%; left: 18%; }
    .mexico { top: 38%; left: 12%; }
    .usa { top: 26%; left: 17%; }
    .arabia { top: 40%; left: 53%; }
    .turquia { top: 31%; left: 57%; }
    .rusia { top: 16%; left: 67%; }
    .china { top: 40%; left: 72%; }
    .japon { top: 34%; left: 86%; }
    .australia { top: 72%; left: 86%; }
  }
  





aside::-webkit-scrollbar {
    width: .8rem;
}
aside::-webkit-scrollbar-track {
    background-color: #fff;
}
aside::-webkit-scrollbar-thumb {
    background-color: #adb5bd;
    border-radius: 10px;
} 
aside {
    width: 15%;
    position: fixed;
    top: 0;
    left: 0;
    bottom: 0;
    overflow-y: scroll;
    background-color: #222e3c;
    color: white;
}
.logo{
    margin-top: 10px;
    display: inline-block;
    padding: 10px;
    color: white;
    font-size: 22px;
    font-weight: 500;
}
aside .logo a{
   color: white;
    
}
aside > ul{
    margin:10px;
}
.user-data{
    margin-left: 10px;
}
.user-data a{
    color: white;
}
.user-data p{
    color: #adb5bd;
    font-size: 16px;
}
.page > ul > li:nth-child(2){
    background: linear-gradient(90deg, rgba(59, 125, 221, .1), rgba(59, 125, 221, .088) 50%, transparent);
    border-left: 2px solid #3b7ddd;
    color: #e9ecef;
}
.pro, .icon{
    border-radius: 5px;
    padding: 4px ;
    font-size: 12px;
    font-weight: 400;
}
.pro{
    background-color: #3b7ddd; 
    color: white;
}
.icon{
    background-color: white;  
    color: black;
}
.logo span{
    background-color: #3b7ddd; 
    border-radius: 5px;
    padding: 4px;
    font-size: 14px;
    font-weight: 400;
    transform: translateY(-8px);
    display: inline-block;
}
.component{
    margin: 20px 0px;
}
h4{
    font-size: 15px;
    font-weight: 300;
}
.page ul li:nth-child(2) a{
    color: white;
    font-size: 16px;
}
.page ul li:nth-child(2) , .component ul li:nth-child(2) p, .plugins ul li:nth-child(2) p{
    font-size: 16px;
     color: #adb5bd;
}

.page ul li, .component ul li, .plugins ul li{
    color: #adb5bd;
     padding: 6px 0px 6px 8px;
     margin-right: 5px;
    margin-left: 3px;
}
.page ul li:hover, .component ul li:hover, .plugins ul li:hover{
    color: #dbe3eb;
    
}
.page ul li:nth-child(2) a ul li{
    color:  white;
}
.page span, .component span, .plugins span{
    margin-left: 10px;
}


.weekly-sales{
    margin: 22px;
    padding: 14px;
    background-color: #2b3947;
}

.weekly-sales h5{
    font-size: 14px;
    margin-bottom: 8px;
    font-weight: 500;
    margin-right: 5px;

}
.weekly-sales p{
    font-size: 13px;
    margin-bottom: 12px;
    font-weight: 400;
    margin-right: 5px;
}
.weekly-sales a{
    display:inline-block;
    text-align: center;
    border-radius: 3px;
    display: block;
    padding: 5px;
    border: 2px solid #3b7ddd;
    color: #3b7ddd;
}
.weekly-sales a:hover{
    background-color: #3b7ddd;
    color: white;
    border: none;
    background-image: none;
}
.answer a ul li:first-child span , .answer a ul li:first-child i{
    color: #adb5bd;
}
