*,
*::before,
*::after{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root{
    --promary: #3b7ddd;
    --titles:  #939ba2;

  
}


ul
{
    list-style: none;
}
a{
    text-decoration: none;
}
.col-1{width: 8.33%; padding-left: 12px;padding-right: 12px;}
.col-2{width: 16.66%; padding-left: 12px;padding-right: 12px;}
.col-3{width: 25%; padding-left: 12px;padding-right: 12px;}
.col-4{width: 33.33%; padding-left: 12px;padding-right: 12px;}
.col-5{width: 41.66%; padding-left: 12px;padding-right: 12px;}
.col-6{width: 50%; padding-left: 12px;padding-right: 12px;}
.col-7{width: 58.33%; padding-left: 12px;padding-right: 12px;}
.col-8{width: 66.66%; padding-left: 12px;padding-right: 12px;}
.col-9{width: 75%; padding-left: 12px;padding-right: 12px;}
.col-10{width: 83.33%; padding-left: 12px;padding-right: 12px;}
.col-11{width: 91.66%; padding-left: 12px;padding-right: 12px;}
.col-12{width: 100%; padding-left: 12px;padding-right: 12px;}

.row{
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    margin-left: 12px;
    margin-right: 12px;
}

.img-fluid{
    max-width: 100%;
    display: inline-block;
}
.justify-between{
    justify-content: space-between;
}
.align-items-center{
    align-items: center;
}
.d-flex{
    display: flex;
}
.relative{
    position: relative;
}
.d-block{
    display: block;
 }
 .d-none{
     display: none;
 }

 body{
    font-family: 'Signika';

 }

 
/* HEADER */


header{
    position: fixed;
    top: 0;
    right: 0;
    padding: 15px;
    background-color: #fff;
    width: 85%;
    display: flex;
    justify-content: space-between;
}


header ul{
    display: flex;
    justify-content: space-between;
    align-items: center;

}
header ul:first-child li{
    margin-right: 15px;
}
header ul:last-child li{
    margin-right: 20px;
}
header ul:last-child li:last-child{
    margin-right: 0px;
}
header:last-child li a i{
     color: var(--titles);
}

.serch-bar-header{
    border-radius: 30px 0 0 30px;
    border: none;
    background-color: #f3f6fa;
    padding: 10px 15px;
}
.menu-icon a i{
    font-size: 30px;
    color: #242e3d;
}
.serch-icon{
    background-color: #f3f6fa;
    border-radius: 0 30px 30px 0;
    padding: 10px 15px;
    color: var(--titles);
}
.mega-menu{
    display: flex;
    align-items: center;
    font-family: 'Signika';
    color: var(--titles);
}
.mega-menu a{
    margin-right: 8px;
    font-family: 'Signika';
    color: rgb(171 176 183);
}


.ul-{
   color: var(--titles);
}
.us-flag{
    border-radius: 50%;
}
.profile-img{
    border-radius: 5px;
}





main{  
     background-color: #F5F7FB;
     width: 85%;
     padding: 120px 50px 50px 50px;
     margin-left: auto;
}
.analytics-cards{

}
.analytics-cards ul li:first-child h6{
    color: #939ba2;
    font-size: .925rem;
    font-weight: 600;
}
.analytics-icon{
    padding: 5px;
    background-color: #d3e2f7;
    border-radius: 15px;
}




aside::-webkit-scrollbar {
    width: .8rem;
}
aside::-webkit-scrollbar-track {
    background-color: #fff;
}
aside::-webkit-scrollbar-thumb {
    background-color: #adb5bd;
    border-radius: 10px;
} 
aside {
    width: 15%;
    position: fixed;
    top: 0;
    left: 0;
    bottom: 0;
    overflow-y: scroll;
    background-color: #222e3c;
    color: white;
}
.logo{
    margin-top: 10px;
    display: inline-block;
    padding: 10px;
    color: white;
    font-size: 22px;
    font-weight: 500;
}
aside .logo a{
   color: white;
    
}
aside > ul{
    margin:10px;
}
.user-data{
    margin-left: 10px;
}
.user-data a{
    color: white;
}
.user-data p{
    color: #adb5bd;
    font-size: 16px;
}
.page > ul > li:nth-child(2){
    background: linear-gradient(90deg, rgba(59, 125, 221, .1), rgba(59, 125, 221, .088) 50%, transparent);
    border-left: 2px solid #3b7ddd;
    color: #e9ecef;
}
.pro, .icon{
    border-radius: 5px;
    padding: 4px ;
    font-size: 12px;
    font-weight: 400;
}
.pro{
    background-color: #3b7ddd; 
    color: white;
}
.icon{
    background-color: white;  
    color: black;
}
.logo span{
    background-color: #3b7ddd; 
    border-radius: 5px;
    padding: 4px;
    font-size: 14px;
    font-weight: 400;
    transform: translateY(-8px);
    display: inline-block;
}
.component{
    margin: 20px 0px;
}
h4{
    color: white;
}
.page ul li:nth-child(2) a{
    color: white;
    font-size: 16px;
}
.page ul li:nth-child(2) , .component ul li:nth-child(2) p, .plugins ul li:nth-child(2) p{
    font-size: 16px;
     color: #adb5bd;
}

.page ul li, .component ul li, .plugins ul li{
    color: #adb5bd;
     padding: 6px 0px 6px 8px;
     margin-right: 5px;
    margin-left: 3px;
}
.page ul li:hover, .component ul li:hover, .plugins ul li:hover{
    color: #dbe3eb;
    
}
.page ul li:nth-child(2) a ul li{
    color:  white;
}
.page span, .component span, .plugins span{
    margin-left: 10px;
}


.weekly-sales{
    margin: 22px;
    padding: 14px;
    background-color: #2b3947;
}

.weekly-sales h5{
    font-size: 14px;
    margin-bottom: 8px;
    font-weight: 500;
    margin-right: 5px;

}
.weekly-sales p{
    font-size: 13px;
    margin-bottom: 12px;
    font-weight: 400;
    margin-right: 5px;
}
.weekly-sales a{
    display:inline-block;
    text-align: center;
    border-radius: 3px;
    display: block;
    padding: 5px;
    border: 2px solid #3b7ddd;
    color: #3b7ddd;
}
.weekly-sales a:hover{
    background-color: #3b7ddd;
    color: white;
}
